<style>

  .row{
    padding-top: 100px;

  }
  .column:nth-child(1){
    height: 300px;
    width: 300px;
    background-image: url("https://belleofthekitchen.com/wp-content/uploads/2016/04/dark-chocolate-brownies-square.jpg");
    background-size: cover;
    margin: 0em 1em;

  }

  .column:nth-child(2){
    height: 300px;
    width: 300px;
    background-image:url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fred-velvet-peppermint-swirl-brownies-sl.jpg%3Fitok%3Dfb97Ba2N&w=1000&c=sc&poi=face&q=70");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0em 1em;
  }
  .column:nth-child(3){
    height: 300px;
    width: 300px;
    background-image:url("https://static.smuckersrms.com/PhotoImage.ashx?recipeid=8799&w=600&h=600");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0em 1em;
  }
</style>
  <div class="container">
<div class="row">
  <div class="column">
    <h2><%=@brownie1.flavor%><br>
    <%=@brownie1.price%><br>
    <%=@brownie1.description%></h2>
    </div>
  <div class="column">
    <h2><%=@brownie2.flavor%><br>
    <%=@brownie2.price%><br>
    <%=@brownie2.description%></h2>
    </div>
  <div class="column">
    <h2><%=@brownie3.flavor%><br>
    <%=@brownie3.price%><br>
    <%=@brownie3.description%></h2>
    </div>
</div>
</div>
