<style>
  .row{
    padding-top: 100px;
  }
  .column:nth-child(1){
    height: 300px;
    width: 300px;
    background-image: url("https://pinchofyum.com/wp-content/uploads/Chocolate-Chip-Cookies-Recipe-225x225.jpg");
    background-size: cover;
    background-repeat: none;
    margin: 0em 1em;
  }
  .column:nth-child(2){
    height: 300px;
    width: 300px;
    background-image: url("https://www.simplyrecipes.com/wp-content/uploads/2015/08/peanut-butter-cookies-horiz-a-1800.jpg");
    background-size: cover;
    background-repeat: none;
    margin: 0em 1em;

  }
  .column:nth-child(3){
    height: 300px;
    width: 300px;
    background-image: url("https://prods3.imgix.net/images/articles/2017_05/Non-featured-rainbow-cookie-recipe.jpg?auto=format%2Ccompress&ixjsv=2.2.3&w=670");
    background-size: cover;
    background-repeat: none;
    margin: 0em 1em;
  }
  </style>
<div class="container">
<div class="row">
  <div class="column">
  <h2><%=@cookie1.flavor%><br>
  <%=@cookie1.price%><br>
  <%=@cookie1.description%></h2>
  </div>
  <div class="column">
  <h2><%=@cookie2.flavor%><br>
  <%=@cookie2.price%><br>
  <%=@cookie2.description%></h2>
  </div>
  <div class="column">
  <h2><%=@cookie3.flavor%><br>
    <%=@cookie3.price%><br>
    <%=@cookie3.description%></h2>
  </div>
</div>
</div>
